.bg{
    /* max-width: 400px; */
    height: 100vh;
    background-color: rgb(79, 41, 94);
    padding-top: 20px;
}
.arrow{
    margin-left: 20px;
    padding: 5px;
  width: 40px;
  height: 25px;
  background-color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 18px;
}
.arrow i{
    font-size: 1.5rem;
}
.bg p{
    padding: 5%;
    color: white;
    font-size: 1.5rem;
}